img{
			float: middle;
			width:10%; 
			height:10%;
		}
		em{
			font-family: sans-serif;
			color:white;
		}
		h4{
			color:white;
		}
		p{
			margin-left: auto;
			margin-right: auto;
			color:white;
		}
		span{
			color: blue;
		}
		.extra span{
			color: inherit;
		}
